#div1{
    width: 400px;
    height: 400px;
    background: url(../img/logo2.jpg) no-repeat;
    transform: rotate(30deg);
}


.container{
    width: 200px;
    height: 200px;
}

.wrapper{
    margin: 0 auto;
}


#div8{
    width: 200px;
}

.aaadiv9{
    height: 200px;
}

