/* index.html 的样式 */

body{
    height: 3000px;
}

/* header 开始 */
#header{
    height: 32px;
    background: #f2f2f2;
    /*background: #cccccc; 注释*/
    font-size: 12px;
    line-height: 32px; /* 单行文字垂直居中：行高=高度 */
    border-bottom: 1px solid #e5e5e5;
}

#login-info{
    float: left;
}

#quick-menu{
    float: right;
}

#quick-menu .menu{
    float: left;
    /*background: #222;*/
    position: relative;
    padding: 0 14px;
    height: 33px;
}

#header a, #login-info span{
    color: #999;
}

#header a{
    /*padding: 0 14px;*/
}



#header a:hover{
    color: #FF0036;
}

#header .triangle::after{
    content: '';
    border-width: 3px;
    border-style: solid;
    border-top-color: #bbb;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 0;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -2px;

    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    transform-origin: 3px 1.5px;
}

#header .icon-gouwuchekong{
    font-size: 12px;
    color: #FF0036;
}

#login-info .register{
    padding: 0;
}

#header .triangle:hover::after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}

#header .triangle{
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px 0 1px;
}

#header .triangle:hover{
    background-color: #fff;
    border-color: #e5e5e5;
    cursor: pointer;
}

#header .triangle:hover > a{
    text-decoration: underline;
    color: #FF0036;
}

#header .triangle:hover .submenu{
    display: block;
}

#quick-menu .submenu a:hover{
    text-decoration: underline;
}

#quick-menu .submenu{
    position: absolute;
    top: 32px;
    left: -1px;
    width: 74px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0 1px 1px 1px;
    padding: 0 14px;
    display: none;
    background: #ffffff;
}

#quick-menu .split{
    width: 1px;
    height: 14px;
    background: #ccc;
    padding: 0;
    margin: 9px 5px;
}

#quick-menu .qr-code{
    width: 175px;
    height: 227px;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 28px;
    left: -58px;
    background: #fff;
    box-shadow: 0 0 5px #aaa;
    display: none;
    z-index: 1;
}

#quick-menu .qr-code::after{
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 85px;
}

#quick-menu .mobile:hover .qr-code{
    display: block;
}

/* header 结束 */


/* logo-search 开始 */
#logo-search{
    height: 135px;
}

#logo, #search{
    float: left;
}

#logo img{
    width: 240px;
}

#search{
    margin-top: 38px;
    margin-left: 50px;
}

#search .search-ipt{
    width: 493px;
    height: 36px;
    border: none;
    outline: none;
    font-size: 14px;
    text-indent: 10px;
}

#search .search-box{
    border: 2px solid #FF0036;
    width: 625px;
    height: 36px;
}

#search .search-btn{
    width: 132px;
    height: 36px;
    border: none;
    background: #FF0036;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: bold;
    float: right;
}

#search .hot{
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 12px;
    height: 15px;
    line-height: 15px;
}

#search .hot a{
    color: #999;
    font-size: 12px;
}

#search .hot-query{
    margin-top: 5px;
}

#search .hot-query-highlight a{
    color: #FF0036;
}

#search .last{
    border-right: none;
}

/* logo-search 结束 */


/* main-nav 开始 */
#main-nav .nav{
    margin-left: 200px;
    height: 35px;
}

#main-nav .nav li{
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 15px;
}

#main-nav .nav-img{
    width: 100px;
}

#main-nav .nav a{
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}


#main-nav .nav a:hover{
    color: #FF0036;
}

#banner{
    background-color: #042769;
}

#banner .wrapper{
    height: 500px;
    background: url(../img/banner1.webp) no-repeat center;
    position: relative;
}

#banner .category-type{
    width: 200px;
    height: 536px;
    background-color: rgba(0, 0, 0, .55);
    position: absolute;
    top: -36px;
}

#banner .category-type li{
    height: 36px;
    padding-left: 10px;
    line-height: 36px;
}

#banner .category-type span, #banner .category-type i{
    color: #fff;
}

#banner .product-type{
    background-color: #FF0036;
}


/* main-nav 结束 */


/* side-bar 开始 */
#side-bar{
    width: 35px;
    background: #ccc;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}

#side-bar .icon-gouwuchekong{
    margin-top: 100px;
    display: block;
}

#side-bar .side-bar-tab{
    position: relative;
}

#side-bar .vip{
    width: 90px;
    height: 35px;
    background-color: #494949;
    color: #fff;
    position: absolute;
    /*left: -90px;*/
    left: -200px;
    top: 0;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    /*display: none;*/
}

#side-bar .vip::after{
    content: '';
    border-style: solid;
    border-width: 4px;
    border-color: transparent transparent transparent #494949;
    height: 0;
    width: 0;
    position: absolute;
    right: -8px;
    top: 14px;
}

#side-bar .side-bar-tab:hover .vip{
    opacity: 1;
    left: -90px;
}

#brand-list .brand{
    width: 122px;
    height: 108px;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

#brand-list .brand img{
    width: 100px;
    height: 50px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -50px;
}

#brand-list .brand:hover .brand-mask{
    opacity: 1;
}

#brand-list .brand-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

#brand-list .coupon{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

#brand-list .enter{
    width: 63px;
    height: 18px;
    background-color: #FF0036;
    color: #fff;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-size: 12px;
    text-align: center;
    margin: 10px auto;
}

/* side-bar 结束 */


