/* index.html 的样式 */


/* header 开始 */
#header{
    height: 32px;
    background: #f2f2f2;
    /*background: #cccccc;*/
    font-size: 12px;
    line-height: 32px; /* 单行文字垂直居中：行高=高度 */
}

#login-info{
    float: left;
}

#quick-menu{
    float: right;
}

#quick-menu .menu{
    float: left;
    /*background: #222;*/
    position: relative;
}

#header a, #login-info span{
    color: #999;
}

#header a{
    padding: 0 14px;
}

#header a:hover{
    color: #FF0036;
}

#header .triangle::after{
    content: '';
    border-width: 3px;
    border-style: solid;
    border-top-color: #bbb;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 0;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -2px;
}

#header .icon-gouwuchekong{
    font-size: 12px;
    color: #FF0036;
}




/* header 结束 */