* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #cccccc;
}

.nav {
    position: fixed;
    width: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;
}

.logo img, .logo {
    width: 36px;
    height: 36px;
}

.logo img {
    vertical-align: middle;
}

.primary {
    margin-left: 20px;
}

.primary li {
    float: left;
    margin-right: 5px;
}

.primary li a {
    color: #000;
}

.logo, .primary {
    float: left;
}

.nav-menu {
    float: right;
}

.header {
    height: 48px;
    padding: 24px;
    line-height: 48px;
}

.overlay {
    opacity: 0;
    visibility: hidden;
}

.actived {
    opacity: 1;
    visibility: visible;
}

.nav-close {
    float: right;
}

.overlay .body {
    transform: scale(1.2);
    transition: transform .1s ease;
}

.overlay.actived .body {
    transform: scale(1);
}

.content {
    margin-left: 30%;
}

.slide {
    overflow: hidden;
}

.slide-container {
    /*width: 2688px;*/
    transition: transform .8s ease;
}

.slide-container .slide-item {
    float: left;
    width: 896px;
}

.slide-container .slide-item img {
    width: 100%;
}

@media (max-width: 1024px) {
    .nav {
        right: 0;
        height: 182px;
        width: 100%;
    }

    .content {
        margin-left: 0;
        margin-top: 182px;
    }

    .slide {
        width: 100%;
    }

    .slide-container {
        width: 400%;
    }

    .slide-container .item {
        width: 25%;
    }

}

@media (max-width: 640px) {
    .nav .header {
        /*visibility: hidden;*/
        display: none;
    }
}



